body {
  background-color: purple;
}

h1, h2, h3, p, span, td {
  color: white;
}

th {
  color: white;
  font-weight: normal;
  background-color: blue;
}

td, th {
  padding: 10px 10px 10px 10px;
  border: 1px solid gold;
}

* {
  font-family: "Lucida Console", Courier, monospace;
}
