body {
  background-color: #2E3237;
}

* {
  font-family: "Lucida Console", Courier, monospace;
}

h1, h2, h3, p, span, td, th {
  color: #D7D8D9;
}

/*p, span, div, th, td {
	font-size: 30;
}*/

td, th {
  padding: 3px 3px 3px 3px;
  /*border: 1px solid gold;*/
  white-space: pre-wrap;
}

th {
  font-weight: normal;
  background-color: blue;
}

button {
	font-size: 12;
	background-color: #E3E4E6;
}

/*textarea {
   font-size: 20
}*/

