body {
  background-color: purple;
}

* {
  font-family: "Lucida Console", Courier, monospace;
}

h1, h2, h3, p, span, td, th {
  color: white;
}

/*p, span, div, th, td {
	font-size: 30;
}*/

td, th {
  padding: 10px 10px 10px 10px;
  border: 1px solid gold;
}

th {
  font-weight: normal;
  background-color: blue;
}

/*textarea {
   font-size: 20
}*/

